.header {
    background-color: rgb(17, 17, 173);
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
}

.headerContainer {
    width: 100%;
    max-width: 1024px;
    margin: 20px 0px 100px 0px;
}

.headerList {
    display: flex;
    gap: 40px;
}

.headerItems {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.headerItems.active {
    border: 2px solid white;
    padding: 10px;
    border-radius: 15px;
}

.headerTitle {
    font-size: 2em;
    margin: 20px 0;
    display: flex;
    
}

.headerDesc {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.headerButton {
    padding: 10px 20px;
    background-color: rgb(17, 17, 173);
    color: white; /* Fixed to white for better readability */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.searchbar {
    width: 80%;
    height: 45px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border: 2px solid yellow;
    border-radius: 8px;
    position: absolute;
    bottom: -25px;
    z-index: 1; /* Ensure it stays above background elements */
}

.Headersearchitem {
    display: flex;
    align-items: center;
    gap: 3px;
    color: rgb(155, 153, 153);
}

.headersearchinput {
    border: none;
    outline: none;
    width: 100%; /* Ensure input expands fully */
}

.searchicon {
    margin-right: 5px;
}

.headerbutton {
    border: none;
    outline: none;
    color: white;
    background-color: blue;
    height: 30px;
    width: 60px;
    border-radius: 3px;
    cursor: pointer;
}

.date {
   
    position: absolute;
    top: 45px;
    z-index: 10; 
}

.option {
    position: absolute;
    top: 45px;
    z-index: 10; 
    background-color: white;
    color: grey;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.optionitem {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.optioncounter {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    color: black;
}

.optioncounterbtn {
    width: 30px;
    height: 30px;
    border: 1px solid blue;
    background-color: white;
    color: blue;
    cursor: pointer;
    border-radius: 50%; /* Round buttons for a cleaner look */
}

.optioncounterbtn:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}
