.header {
    background-color: blue;
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
}

.headerContainer {
    width: 100%;
    max-width: 1024px;
    margin: 20px 0px 100px 0px;
}

.headerList {
    display: flex;
    gap: 40px;
}

.headerItems {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.headerItems.active {
    border: 2px solid white;
    padding: 10px;
    border-radius: 15px;
}

.headerTitle {
    font-size: 2em;
    margin: 20px 0;
}

.headerDesc {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.headerButton {
    padding: 10px 20px;
    background-color: white;
    color: rgb(3, 3, 63);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.headerButton{
    background-color: rgb(94, 94, 244);
    color-scheme: white;
}
.searchbar{
    width:80%;
    height:45px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border:2px solid yellow;
    border-radius: 8px;
    position: absolute;
    bottom: -25px;
}
.Headersearchitem{
    color: rgb(155, 153, 153);
    gap:3px;
}
.headersearchinput{
    border: none;
    outline: none;
    
}
.searchicon{
    margin-right:5px;
}
.headerbutton{
    border: none;
    outline: none;
    color: rgb(232, 223, 223);
    background-color: blue;
    height:30px;
    width:60px;
    border-radius: 3px;

}
.date{
    position: absolute;
    top:50px;
    z-index: 2;
}
.option{
    position:absolute;
    top:50px;
    z-index: 2;
    background-color: white;
    color: grey;
    border-radius: 5px;
   
}
.optionitem{
    display:flex;
    justify-content: space-between;
    margin: 10px;
}
.optioncounter{
 display: flex;
 align-items: center;
 gap:10px;
 font-size: 12px;
 color:black;
}
.optioncounterbtn{
    width:30px;
    height:30px;
    border: 1px solid blue;
    background-color: white;
    color: blue;
}